@font-face {
    src: url(fonts/PressStart2P-Regular.ttf);
    font-family: pressStart2P;
}


body {
    background-color:  #1e1e24; 
    color: white;
    font-family: pressStart2P, cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
h1 {
  color: #92140c;
  font-size: 40px;
  text-shadow: 2px 2px 0 #000;
  margin-bottom: 40px;
  }
.container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 40px;
  }
.item {
  background: #fff8f0;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s;
}
.item img {
  width: 80px;
  height: 80px;
  }

.item p {
  color: #92140c;
  font-size: 12px;
  margin-top: 10px;
  }

.item:hover {
  transform: scale(1.05);
  }

.row {
  display: flex;
  gap: 40px;
  }